body, html{
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #777;
}

.bgimg {
  background-image: url("../images/samantha-gades-BlIhVfXbi9s-unsplash.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact{
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-left: 80px;
  flex-direction:column;
  border: solid;
  border-radius: 10px;
  background-color: lightgrey;
  width: 800px;
}
