.bgimg {
  background-image: url("../images/samantha-gades-BlIhVfXbi9s-unsplash.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
