body html{
  font-family: "Lato", sans-serif;
}

/*menu icon*/
.block{
  background-color: #73140C;
  width: 60px;
  height: 60px;
  float: left;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FAF8F8;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

nav a {
  float: right;
  display: block;
  color: #616161;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin-left: 20px;
  margin-right:100px;
  opacity: 70%;
}

nav a:hover{
  opacity: 90%;
  color: black;
  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.contenu{
  display: flex;
  justify-content: space-around;
}

.imgcouv img{
  width: 750px;
  height: 750px;
}

.text p{
  margin-left: 150px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
  margin-right: 50px;
  opacity: 70%;
}

.text h1{
  margin-left: 150px;
  font-family: "Lato", sans-serif;
  font-size: 100px;
  letter-spacing: 3px;
  font-weight: normal;
  border-spacing: 0;
}

.text h2{
  margin-left: 200px;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: lighter;
  border-spacing: 0;
  opacity: 60%;
}

.button{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  color:#FAF8F8;
  padding-left: 60px;
  padding-right: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  background-color: #73140C;
  margin-top: 30px;
  border: none;
  margin-left: 300px;
 }
